Repository woowa-techcamp-2022/web-fleamarket-9, pull requests merged in 2022-08, with the labels that each got.

#1 [Doc] issue template, swagger 추가
  .github/ISSUE_TEMPLATE/bugfix.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/main.ts
  server/src/swagger.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/entities/user.entity.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
Labels: doc

#3 [Feature] write api doc
  server/src/app.controller.spec.ts
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/create-auth.dto.ts
  server/src/auth/dto/login-response.dto.ts
  server/src/auth/dto/login-user.dto.ts
  server/src/auth/dto/logout-response.dto.ts
  server/src/auth/dto/update-auth.dto.ts
  server/src/auth/entities/auth.entity.ts
  server/src/category/category.controller.ts
  server/src/category/category.module.ts
  server/src/category/category.service.ts
  server/src/category/dto/category-response.dto.ts
  server/src/category/dto/create-category.dto.ts
  server/src/category/dto/update-category.dto.ts
  server/src/category/entities/category.entity.ts
  server/src/chat/chat.controller.ts
  server/src/chat/chat.module.ts
  server/src/chat/chat.service.ts
  server/src/chat/dto/chat-message-response.dto.ts
  server/src/chat/dto/chat-room-response.dto.ts
  server/src/chat/dto/create-chat-message.dto.ts
  server/src/chat/dto/create-chat-room-response.dto.ts
  server/src/chat/dto/create-chat.dto.ts
  server/src/chat/dto/update-chat.dto.ts
  server/src/chat/entities/chat.entity.ts
  server/src/item/dto/create-item-response.dto.ts
  server/src/item/dto/create-item.dto.ts
  server/src/item/dto/delete-item-response.dto.ts
  server/src/item/dto/find-items.dto.ts
  server/src/item/dto/get-item-response.dto.ts
  server/src/item/dto/update-item-response.dto.ts
  server/src/item/dto/update-item.dto.ts
  server/src/item/entities/item.entity.ts
  server/src/item/item.controller.ts
  server/src/item/item.module.ts
  server/src/item/item.service.ts
  server/src/location/dto/create-location.dto.ts
  server/src/location/dto/delete-location-response.dto.ts
  server/src/location/dto/find-location-response.dto.ts
  server/src/location/dto/find-my-location-response.dto.ts
  server/src/location/entities/location.entity.ts
  server/src/location/location.controller.ts
  server/src/location/location.module.ts
  server/src/location/location.service.ts
  server/src/users/dto/create-user-response.dto.ts
  server/src/users/dto/get-user-response.dto.ts
  server/src/users/dto/update-user.dto.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
Labels: server, doc, pair

#5 [Feature] add api docs
  server/src/item/dto/update-item-like-response.dto.ts
  server/src/item/dto/update-item-status-response.dto.ts
  server/src/item/dto/update-item-status.dto.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: server, doc, pair

#9 [Feature] add mysql configuration
  .gitignore
  server/package-lock.json
  server/package.json
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/constants/index.ts
  server/src/db/db.module.ts
Labels: server

#11 [Feature] add user api
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/users/dto/create-user.dto.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Labels: server

#13 Bugfix/12/delete bcrypt
  server/package-lock.json
  server/package.json
  server/src/users/dto/create-user-response.dto.ts
  server/src/users/users.service.ts
  server/test/app.e2e-spec.ts
  server/test/util.e2e-spec.ts
Labels: bug

#14 [Feature] category 조회 api 구현
  server/src/category/category.controller.ts
  server/src/category/category.service.ts
Labels: server

#15 login / logout api 구현
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/authenticated.guard.ts
  server/src/auth/session.serializer.ts
  server/src/category/category.controller.ts
  server/src/local.auth.guard.ts
  server/src/local.strategy.ts
  server/src/main.ts
Labels: server, pair

#18 [Feature] 내 정보 조회 api 구현
  server/src/auth/auth.service.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Labels: server

#20 [Feature] 아이템 추가 API 구현
  server/src/auth/auth.service.ts
  server/src/auth/authenticated.guard.ts
  server/src/item/dto/create-item.dto.ts
  server/src/item/entities/item.entity.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
  server/src/users/users.service.ts
Labels: feature, server

#23 로그인시 idx가 2번씩 반환되는 충돌 오류 수정
  server/src/auth/auth.service.ts
  server/src/users/users.service.ts
Labels: bug

#24 [Feature] Location 추가 API 구현
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
Labels: feature, server

#25 [Feature] 아이템 전체조회 및 아이템 상세조회 API 완료
  server/src/item/dto/get-item-response.dto.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, server

#26 [Feature] location 목록을 검색하는 api 추가
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
Labels: server

#28 [Feature] 현재 user의 location 을 삭제하는 api 추가
  server/src/location/dto/delete-location-response.dto.ts
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
Labels: feature, server

#27 [Feature] 현재 user의 location 을 조회하는 api 추가
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
Labels: server

#30 [Feature] GitHub login 기능 추가
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/index.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/index.ts
  server/package-lock.json
  server/package.json
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/github.guard.ts
  server/src/auth/github.strategy.ts
  server/src/main.ts
  server/src/users/users.service.ts
Labels: feature, server

#32 [Feature] 아이템 업데이트 API 구현
  server/src/item/item.service.ts
Labels: feature, server

#34 [Feature] chat room 추가 api 구현
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
  server/src/chat/dto/create-chat.dto.ts
  server/src/location/location.service.ts
Labels: feature, server

#37 [Feature] 아이템 삭제 API 구현 완료
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, server

#39 [Feature] 아이템 상태 변경 API 구현 완료
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, server

#42 [Feature] 아이템 좋아요 API 구현 완료
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, server

#41 [Feature] chat message send api 구현
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
Labels: feature, server

#45 [Feature] 좋아요 취소 API 구현 완료
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, server

#46 [Feature] chat room 목록 조회 api 구현
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
Labels: feature, server

#48 [Feature] chat message 조회 api 구현
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
  server/src/chat/dto/chat-message-response.dto.ts
Labels: feature, server

#50 [Feature] chat message 읽기 api 구현
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
Labels: feature, server

#52 [Feature] chat room delete api 구현
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
Labels: feature, server

#54 [Feature] 로그인 프로세스 수정
  .gitignore
  client/package.json
  client/src/App.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  server/.development.env.sample
  server/.production.env.sample
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/guard/authenticated.guard.ts
  server/src/auth/guard/github.guard.ts
  server/src/auth/guard/local.auth.guard.ts
  server/src/auth/strategy/github.strategy.ts
  server/src/auth/strategy/local.strategy.ts
  server/src/chat/chat.controller.ts
  server/src/item/item.controller.ts
  server/src/location/location.controller.ts
  server/src/users/dto/get-user-response.dto.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Labels: feature, client, server

#56 [Bugfix] client 환경변수 설정
  .gitignore
  client/.env.development.sample
  client/.env.production.sample
  client/package.json
  client/src/context/AuthContext.tsx
  client/src/pages/Login.tsx
Labels: bug, client

#58 [Feature] 아이콘 및 레이아웃 기본 세팅
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/components/Color.ts
  client/src/components/Icon.tsx
  client/src/components/PageLayout.tsx
  client/src/components/TypoGraphy.tsx
  client/src/context/AuthContext.tsx
  client/src/index.css
  client/src/logo.svg
  client/src/pages/Home.tsx
  client/src/reportWebVitals.ts
  client/src/setupTests.ts
  client/src/styles/App.scss
Labels: feature, client

#61 [Feature] typography 컴포넌트 작성 완료
  client/src/components/TypoGraphy.tsx
  client/src/pages/Home.tsx
  client/src/styles/App.scss
Labels: feature, client

#62 [Feature] Icon 컴포넌트 작성 완료
  client/src/assets/icon/add.svg
  client/src/assets/icon/category.svg
  client/src/assets/icon/check.svg
  client/src/assets/icon/chevron-down.svg
  client/src/assets/icon/chevron-left.svg
  client/src/assets/icon/chevron-right.svg
  client/src/assets/icon/close.svg
  client/src/assets/icon/heart.svg
  client/src/assets/icon/image.svg
  client/src/assets/icon/log-out.svg
  client/src/assets/icon/map-pin.svg
  client/src/assets/icon/menu.svg
  client/src/assets/icon/message-square.svg
  client/src/assets/icon/more-vertical.svg
  client/src/assets/icon/send.svg
  client/src/assets/icon/user.svg
  client/src/components/Icon.tsx
  client/src/components/iconPath.ts
  client/src/pages/Home.tsx
Labels: feature, client

#65 [Feature] Button 컴포넌트 구현
  client/src/components/Button.tsx
  client/src/pages/Home.tsx
  client/src/styles/App.scss
Labels: feature, client

#67 [Feature] Text Input 구현 완료
  client/src/components/TextInput.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#68 [Feature] FAB 컴포넌트 구현 완료
  client/src/components/Fab.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#71 [Feature] LocationButton 컴포넌트 구현
  client/src/components/LocationButton.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#73 ImgBox Component 구현완료
  client/src/components/ImgBox.tsx
Labels: feature, client

#74 [Feature] CategoryButton 컴포넌트 구현
  client/src/components/CategoryButton.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#77 [Feature] ImgNav 컴포넌트 구현 완료
  client/src/components/ImgNavigation.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#79 [Feature] TabBar, TabButton 컴포넌트 구현
  client/src/components/TabBar.tsx
  client/src/components/TabButton.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#80 [Feature] ChatBubble 컴포넌트 구현완료
  client/src/components/ChatBubble.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#83 [Feature] chat count badge 컴포넌트 구현
  client/src/components/ChatBadge.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#84 [Feature] StatusButton 컴포넌트, Dropdown 컴포넌트 구현
  client/src/components/Color.ts
  client/src/components/Dropdown.tsx
  client/src/components/StatusButton.tsx
  client/src/pages/Home.tsx
Labels: bug, feature

#87 [Feature] 카테고리 리스트 아이템 컴포넌트 구현
  client/src/components/CategoryListItem.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#89 [Feature] 이미지버튼 추가, 삭제 구현
  client/src/components/ImgBox.tsx
  client/src/components/ImgButton.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#91 [Feature] 판매자정보 컴포넌트 구현완료
  client/src/components/Color.ts
  client/src/components/InfoSaler.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#93 [Feature] Header 컴포넌트 구현
  client/src/components/Dropdown.tsx
  client/src/components/Header/BackHeader.tsx
  client/src/components/Header/ExitHeader.tsx
  client/src/components/Header/HeaderWrapper.tsx
  client/src/components/Header/InvisibleHeader.tsx
  client/src/components/Header/MainHeader.tsx
  client/src/components/Header/WriteHeader.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#95 LocationBar 컴포넌트 구현
  client/src/components/LocationBar.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#97 [Feature] ProductBar 컴포넌트 구현 완료
  client/src/components/Icon.tsx
  client/src/components/ProductBar.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#99 [Feature] InfoProduct 컴포넌트 구현완료
  client/src/components/InfoProduct.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#100 [Feature] ProductList 컴포넌트 구현 완료
  client/src/components/Dropdown.tsx
  client/src/components/Icon.tsx
  client/src/components/ListItem.tsx
  client/src/components/ProductList.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#103 [Feature] ChatBar 컴포넌트 구현 완료
  client/src/components/ChatBar.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#105 [Feature] ChatListItem 컴포넌트 구현
  client/src/components/ChatBadge.tsx
  client/src/components/ChatListItem.tsx
  client/src/pages/Home.tsx
Labels: client

#106 [Feature] 메인페이지 구현 완료 및 기존 Home 컴포넌트 이름변경, 라우트변경
  client/src/App.tsx
  client/src/components/Spacing.tsx
  client/src/pages/Components.tsx
  client/src/pages/Main.tsx
  client/src/pages/index.ts
Labels: feature, client

#108 font 추가
  client/src/pages/Main.tsx
  client/src/styles/App.scss
Labels: feature, client

#111 [Feature] Home 페이지 개발(마크업 및 스타일)
  client/src/App.tsx
  client/src/pages/Home.tsx
  client/src/pages/Main.tsx
  client/src/pages/index.ts
Labels: feature, client

#113 [Feature] Category 화면 추가
  client/src/components/Category/Category.tsx
  client/src/components/Category/CategoryButton.tsx
  client/src/components/Category/CategoryListItem.tsx
  client/src/components/Category/CategorySlide.tsx
  client/src/components/Header/HeaderWrapper.tsx
  client/src/pages/Components.tsx
  client/src/pages/Home.tsx
  client/src/pages/Main.tsx
Labels: feature, client

#115 [Feature] 로그인, 내 계정 페이지 마크업 완료
  client/src/App.tsx
  client/src/components/Button.tsx
  client/src/components/Category/Category.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/User.tsx
  client/src/pages/index.ts
  server/src/auth/auth.controller.ts
Labels: feature, client

#117 [Feature] 메뉴페이지 마크업 및 스타일 구현
  client/src/components/Category/CategorySlide.tsx
  client/src/components/ChatBadge.tsx
  client/src/components/Menu/ChattingList.tsx
  client/src/components/Menu/Common.tsx
  client/src/components/Menu/LikedList.tsx
  client/src/components/Menu/MenuSlide.tsx
  client/src/components/Menu/SalesList.tsx
  client/src/components/TabBar.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#120 [Feature] Image 업로드 구현 완료
  server/.development.env.sample
  server/.production.env.sample
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/image/dto/image-response.dto.ts
  server/src/image/image.controller.ts
  server/src/image/image.module.ts
  server/src/image/image.service.ts
Labels: feature, server

#122 [Feature] 회원가입 페이지 작업
  client/src/components/Form/ErrorMessage.tsx
  client/src/components/Form/Field.tsx
  client/src/context/FormContext.tsx
  client/src/hooks/useForm.ts
  client/src/pages/Login.tsx
  client/src/pages/Signup.tsx
  server/src/auth/auth.controller.ts
  server/src/users/dto/create-user-response.dto.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Labels: feature, client, server

#124 [Feature] 글쓰기 페이지 개발
  client/src/App.tsx
  client/src/components/Category/Category.tsx
  client/src/components/Category/CategoryButton.tsx
  client/src/components/LocationBar.tsx
  client/src/components/TextInput.tsx
  client/src/hooks/useCategory.ts
  client/src/pages/Home.tsx
  client/src/pages/Write.tsx
  client/src/pages/index.ts
  client/src/styles/App.scss
Labels: feature, client

#125 [Feature] Location 페이지 추가 구현
  client/src/App.tsx
  client/src/assets/icon/search.svg
  client/src/components/Header/SearchHeader.tsx
  client/src/components/TextInput.tsx
  client/src/components/iconPath.ts
  client/src/pages/Location.tsx
  client/src/pages/LocationSearch.tsx
  client/src/pages/index.ts
  server/src/location/location.controller.ts
  server/src/location/location.service.ts
Labels: feature, client, server

#128 [Feature] 아이템 리스트 페이지 API 연동
  client/package-lock.json
  client/package.json
  client/src/components/ListItem.tsx
  client/src/components/Menu/LikedList.tsx
  client/src/components/Menu/SalesList.tsx
  client/src/components/ProductList.tsx
  client/src/hooks/useIsLoggedIn.ts
  client/src/hooks/useItem.ts
  client/src/pages/Components.tsx
  client/src/pages/Home.tsx
  client/src/pages/Write.tsx
  client/src/utils/util.ts
  server/src/item/dto/find-items.dto.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, client

#129 [Feature] 동네 검색 기능 구현
  client/src/components/Header/SearchHeader.tsx
  client/src/pages/LocationSearch.tsx
  client/src/util/debounce.ts
  server/src/location/location.service.ts
Labels: feature, client, server

#136 [Feature] 관심목록 API 구현 및 페이지 적용
  client/src/components/Menu/LikedList.tsx
  client/src/hooks/useLikedItem.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, client, server

#137 [Feature] Item 상세 페이지 구현
  client/src/App.tsx
  client/src/components/Header/HeaderWrapper.tsx
  client/src/components/Header/InvisibleHeader.tsx
  client/src/components/ImgBox.tsx
  client/src/components/InfoSaler.tsx
  client/src/components/ListItem.tsx
  client/src/components/ProductBar.tsx
  client/src/components/TypoGraphy.tsx
  client/src/hooks/useItemDetail.ts
  client/src/pages/Detail.tsx
  client/src/pages/LocationSearch.tsx
  client/src/pages/index.ts
  client/src/utils/util.ts
  server/src/item/dto/get-item-response.dto.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: feature, client, server

#140 [Feature] 아이템 수정 구현 완료
  client/src/App.tsx
  client/src/components/Dropdown.tsx
  client/src/components/Header/InvisibleHeader.tsx
  client/src/components/ListItem.tsx
  client/src/pages/Write.tsx
  client/src/utils/util.ts
Labels: feature, client

#142 [Feature] 리스트 아이템 드롭다운 메뉴 외부 영역 클릭 시 메뉴 사라지도록 처리
  client/src/components/ListItem.tsx
Labels: feature, client

#144 [Feature] 아이템 삭제 API 적용 완료
  client/src/components/ListItem.tsx
Labels: feature, client

#145 [Feature] 동네 설정 추가
  client/src/components/Header/MainHeader.tsx
  client/src/components/StatusButton.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/Components.tsx
  client/src/pages/Detail.tsx
  client/src/pages/Home.tsx
  client/src/pages/Location.tsx
  client/src/pages/Write.tsx
  server/src/app.service.ts
  server/src/item/dto/create-item.dto.ts
  server/src/item/item.service.ts
Labels: bug, feature, client, server

#148 [Bug] 글쓰기 페이지 이미지 개수 많아지면 버튼 레이아웃 깨지는 오류 수정
  client/src/components/ImgBox.tsx
  client/src/pages/Write.tsx
Labels: bug, client

#151 [Bug] 아이템 가격 옵셔널로 변경
  client/src/components/TextInput.tsx
  client/src/pages/Write.tsx
  server/src/item/item.service.ts
Labels: bug, client

#153 [Bugfix] Item detail 페이지 로그인 여부 확인
  client/src/components/Dropdown.tsx
  client/src/components/StatusButton.tsx
  client/src/pages/Detail.tsx
Labels: bug, client

#155 [Bug] 카테고리 선택 시 스크롤바 없도록 수정, 글씨 깜박임 수정
  client/src/components/Menu/Common.tsx
  client/src/pages/Write.tsx
  client/src/styles/App.scss
  client/src/styles/NotoSansKR-Regular.woff2
Labels: bug, client

#156 [Bug] Item detail 페이지 price가 존재하는 경우에만 출력되도록 수정
  client/src/pages/Detail.tsx
Labels: bug, client

#159 [Feature] 이미지 슬라이드 추가
  client/package-lock.json
  client/package.json
  client/src/components/ImageSlide.tsx
  client/src/components/ListItem.tsx
  client/src/pages/Detail.tsx
  client/src/styles/App.scss
Labels: client

#162 [Feature] Dropdown 외부 버튼 클릭시 닫히도록 수정
  client/src/components/Header/InvisibleHeader.tsx
  client/src/components/Header/MainHeader.tsx
  client/src/components/StatusButton.tsx
  client/src/pages/Detail.tsx
  client/src/pages/Home.tsx
  client/src/utils/util.ts
Labels: client

#164 [Feature] 동네 등록 로직 수정
  client/src/context/AuthContext.tsx
  client/src/pages/Location.tsx
  client/src/pages/User.tsx
  client/src/pages/Write.tsx
  server/src/auth/auth.service.ts
  server/src/users/dto/get-user-response.dto.ts
  server/src/users/users.service.ts
Labels: feature, client

#165 [Feature] 웹소켓 테스트
  .gitignore
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/chat.gateway.ts
  server/src/chat/chat.module.ts
  server/src/chat/chat.service.ts
  server/src/main.ts
  shared/dist/index.d.ts
  shared/dist/index.js
  shared/dist/src/websocket-constant.d.ts
  shared/dist/src/websocket-constant.js
  shared/index.ts
  shared/package-lock.json
  shared/package.json
  shared/src/websocket-constant.ts
  shared/tsconfig.json
Labels: feature, server

#168 [Feature] Chat Detail 마크업 및 스타일 완료
  client/src/App.tsx
  client/src/components/ChatBar.tsx
  client/src/components/ChatBubble.tsx
  client/src/pages/ChatDetail.tsx
Labels: feature, client

#169 [Feature] 채팅 목록 화면 구현
  client/src/App.tsx
  client/src/components/ChatListItem.tsx
  client/src/pages/ChatList.tsx
  client/src/pages/Detail.tsx
Labels: client, server

#171 [Feature] 채팅방 입장 로직 수정
  client/src/pages/ChatDetail.tsx
  client/src/pages/Detail.tsx
Labels: feature, client

#173 웹소켓 기본 세팅 완료
  .eslintrc.js
  client/package-lock.json
  client/package.json
  client/public/worker.js
  client/src/App.tsx
  client/src/context/WorkerContext.tsx
  client/src/pages/Write.tsx
  client/tsconfig.json
Labels: feature, client

#175 [Feature] 유저채팅 구현
  client/public/worker.js
  client/src/App.tsx
  client/src/components/ChatBar.tsx
  client/src/context/AuthContext.tsx
  client/src/index.tsx
  client/src/pages/ChatDetail.tsx
  client/src/utils/constant.ts
  server/src/chat.gateway.ts
Labels: feature, client, server

#178 [Feature] toast 메시지 구현 완료
  client/src/components/ToastMessage.tsx
  client/src/components/ToastMessageContainer.tsx
  client/src/index.tsx
  client/src/pages/Write.tsx
  client/src/styles/App.scss
Labels: feature, client

#180 [Feature] 카테고리 아이콘 및 파비콘 추가
  client/public/favicon.ico
  client/public/index.html
  client/src/components/Category/Category.tsx
Labels: feature, client

#182 [Feature] chat message 조회 구현
  client/src/components/ChatListItem.tsx
  client/src/components/Menu/ChattingList.tsx
  client/src/hooks/useSaleItem.ts
  client/src/pages/ChatDetail.tsx
  client/src/pages/ChatList.tsx
  client/src/pages/Components.tsx
  server/src/chat/chat.service.ts
  server/src/item/item.service.ts
Labels: feature, client, server

#184 Chat room 아이템 정보, 메신저 상대 정보 조회 처리
  client/src/components/InfoProduct.tsx
  client/src/pages/ChatDetail.tsx
  server/src/chat/chat.controller.ts
  server/src/chat/chat.service.ts
Labels: feature, client, server

#186 [Feature] 내 채팅방 조회 구현
  client/src/components/ChatListItem.tsx
  client/src/components/Menu/ChattingList.tsx
Labels: feature, client

#188 [Bug] 신규 가입시 동네 기본값 넣기
  client/src/pages/Detail.tsx
  server/src/users/users.service.ts
Labels: bug, server

#190 [Feature] 아이템 좋아요 시 알림보내도록 구현
  client/public/worker.js
  client/src/components/ListItem.tsx
  client/src/context/LikeContext.tsx
  client/src/index.tsx
  client/src/pages/ChatDetail.tsx
  server/src/chat.gateway.ts
  server/src/item/item.module.ts
  server/src/users/users.module.ts
Labels: feature, client, server

#192 Feature/189/update query params
  client/src/components/Category/Category.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#193 [Feature] 아이템 상세에서 좋아요 시 알림 처리
  client/src/pages/Detail.tsx
Labels: feature, client

#196 [Feature] 채팅 메시지 분기 처리
  client/src/components/ChatBubble.tsx
  client/src/pages/ChatDetail.tsx
  server/src/chat.gateway.ts
  server/src/chat/chat.service.ts
Labels: feature, client, server

#198 [Feature] 채팅 메시지 읽음 처리
  client/src/pages/ChatDetail.tsx
  server/src/chat/chat.service.ts
Labels: feature, client

#199 [Fix] 메뉴 상태들 url로 관리하도록 변경
  client/src/components/Category/Category.tsx
  client/src/components/Category/CategorySlide.tsx
  client/src/components/Menu/MenuSlide.tsx
  client/src/pages/Detail.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#201 [Feature] 선택한 지역에 아이템 올라오는 경우 알림 표시
  client/public/worker.js
  client/src/context/ItemUploadContext.tsx
  client/src/index.tsx
  client/src/pages/Write.tsx
  server/src/chat.gateway.ts
  server/src/users/users.service.ts
Labels: feature, client, server

#204 [Feature] FOCUS 상태 아닐 때 web noti 보내도록 설정
  client/public/worker.js
  client/src/context/FocusContext.tsx
  client/src/index.tsx
Labels: feature, client

#206 [Feature] 채팅 메시지 조회시 lazy loading 적용
  client/src/components/ChatBar.tsx
  client/src/hooks/useIntersectionObserver.ts
  client/src/pages/ChatDetail.tsx
Labels: feature, client

#207 [Bug] 토스트 메시지 key값 적용
  client/src/components/ToastMessageContainer.tsx
Labels: feature, client

#210 [Feature] 홈페이지 아이템 스켈레톤 UI 적용
  client/src/components/ItemSkeleton.tsx
  client/src/hooks/useItem.ts
  client/src/pages/Components.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#211 [Feature] 채팅방 목록 skeleton 구현 완료
  client/src/components/ChatListItemSkeleton.tsx
  client/src/components/ImgBox.tsx
  client/src/components/InfoProduct.tsx
  client/src/components/Menu/ChattingList.tsx
  client/src/pages/ChatList.tsx
Labels: feature, client

#214 [Feature] 메뉴 판매목록, 관심목록 스켈레톤
  client/src/components/Menu/LikedList.tsx
  client/src/components/Menu/SalesList.tsx
  client/src/hooks/useLikedItem.ts
  client/src/hooks/useSaleItem.ts
Labels: feature, client

#216 [Feature] 채팅 왔을 때 알림표시되도록 구현
  client/src/components/ToastMessage.tsx
  client/src/components/ToastMessageContainer.tsx
  client/src/context/ChatContext.tsx
  client/src/index.tsx
Labels: feature, client

#217 [Feature] item 상세 페이지 스켈레톤 구현
  client/src/components/ItemDetailSkeleton.tsx
  client/src/hooks/useItemDetail.ts
  client/src/pages/Detail.tsx
Labels: feature, client

#219 [Feature] 채팅 룸 스켈레톤 추가
  client/src/components/ChatDetailSekelton.tsx
  client/src/pages/ChatDetail.tsx
Labels: feature, client

#221 [Feature] 홈아이템 데이터 캐싱
  client/src/components/ListItem.tsx
  client/src/context/HomeItemContext.tsx
  client/src/hooks/useItem.ts
  client/src/hooks/useScrollCache.ts
  client/src/index.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#223 [Bug] 채팅 마지막 메시지 날짜 수정
  client/src/components/ChatListItem.tsx
Labels: bug

#225 [Feature] LikeItem Context를 구현
  client/src/components/ListItem.tsx
  client/src/context/LikeItemContext.tsx
  client/src/hooks/useLikedItem.ts
  client/src/index.tsx
Labels: feature, client

#227 [Bug] 데이터 페칭 중복 오류 수정
  client/src/context/CategoryContext.tsx
  client/src/hooks/useCategory.ts
  client/src/hooks/useHomeItemFetch.ts
  client/src/hooks/useItem.ts
  client/src/hooks/useLikedItem.ts
  client/src/hooks/useLikedItemFetch.ts
  client/src/index.tsx
  client/src/pages/Home.tsx
Labels: bug, client

#230 [Feature] Home 페이지 아이템 조회 쿼리 수정
  client/src/hooks/useHomeItemFetch.ts
  server/src/item/item.controller.ts
  server/src/item/item.service.ts
Labels: server

#232 [Feature] 홈페이지 페이징 기능 추가.
  client/src/components/ListItem.tsx
  client/src/components/ProductList.tsx
  client/src/hooks/useHomeItemFetch.ts
  client/src/hooks/useIntersectionObserver.ts
  client/src/pages/Home.tsx
Labels: feature, client

#235 [Feature] 아이템 리스트 lazy loading 구현
  client/src/components/LazyloadingImgBox.tsx
  client/src/components/ListItem.tsx
Labels: feature, client

#236 [Feature] 플랫리스트 구현
  client/src/components/ProductList.tsx
  client/src/pages/Home.tsx
Labels: feature, client

#238 [Feature] flat list 최적화
  client/src/components/ProductList.tsx
Labels: feature, client

#239 [Feature] README.md 업데이트
  README.md
Labels: feature, doc

#241 [Bug] Chat message lazy loading api 요청이 되지 않는 문제 수정
  client/src/pages/ChatDetail.tsx
Labels: bug

#243 [Enhance] 아이템 이미지 lazy loading 시 기존에 한 번 불러왔떤 이미지는 바로 다시 불러오도록 처리
  client/src/components/LazyloadingImgBox.tsx
  client/src/components/ListItem.tsx
  client/src/components/ProductList.tsx
  client/src/pages/Components.tsx
Labels: client

#245 [Feature] image 로딩 시간 단축
  client/src/components/LazyloadingImgBox.tsx
Labels: client

#249 [Bug] 아이템 수정 시 타이틀 값 안들어가는 오류 수정
  client/src/pages/Write.tsx
Labels: bug, client

#251 [Feature] 메인페이지 스크롤 이벤트 최적화
  client/src/components/ProductList.tsx
Labels: feature, client

#252 [Bug] 로그인 로그아웃 시 홈데이터 새로 받아오도록 수정
  client/src/context/AuthContext.tsx
  client/src/hooks/useHomeItemFetch.ts
  client/src/index.tsx
  client/src/pages/Home.tsx
  client/src/pages/Main.tsx
Labels: bug, client

#254 [Feature] 이미지 불러온 기록이 있는 아이템은 더 이상 레이지로딩 하지않도록 변경
  client/src/components/LazyloadingImgBox.tsx
  client/src/components/ListItem.tsx
  client/src/components/Menu/MenuSlide.tsx
  client/src/components/ProductList.tsx
  client/src/context/SalesItemContext.tsx
  client/src/hooks/useSaleItem.ts
  client/src/hooks/useSaleItemFetch.ts
  client/src/index.tsx
  client/src/pages/Components.tsx
Labels: bug, client

#258 [Bug] delete item refetch
  client/src/components/ListItem.tsx
  client/src/pages/Detail.tsx
Labels: bug, client

#257 [Feature] 내 판매목록 정렬 등록순 역순으로 수정
  server/src/item/item.service.ts
Labels: server

#260 [Bug] 드랍 다운 메뉴 레이아웃 버그 수정
  client/src/components/Dropdown.tsx
  client/src/pages/Home.tsx
Labels: bug, client
