Repository woowa-techcamp-2022/web-fleamarket-9, pull requests merged in 2022-09, with the labels that each got.

#262 [Bug] 상세 페이지 이미지 표시되지 않는 문제 수정
  client/src/components/ImgBox.tsx
Labels: bug, client

#271 [Feature] 스토리북 설치 및 초기설정, package.json 의존성 정보 수정
  .gitignore
  client/.storybook/main.js
  client/.storybook/preview.js
  client/package-lock.json
  client/package.json
  client/src/stories/Button.stories.tsx
  client/src/stories/Button.tsx
  client/src/stories/button.css
  server/package-lock.json
Labels: feature, client

#275 [Feature] 버튼 프롭타입스 타입이름 변경 및 위치 변경, 버튼 스토리북 추가 완료
  client/src/components/Button.tsx
  client/src/stories/Button.stories.tsx
  client/src/stories/Button.tsx
  client/src/stories/button.css
Labels: feature, client

#277 [Refactor] 홈컴포넌트 로직-뷰 분리 및 헤더 메뉴 관련 훅 테스팅
  client/jest.config.js
  client/package-lock.json
  client/package.json
  client/src/components/Home/HomeView.tsx
  client/src/components/ListItem.tsx
  client/src/context/HomeItemContext.tsx
  client/src/context/LikeItemContext.tsx
  client/src/context/SalesItemContext.tsx
  client/src/hooks/useHomeItem.ts
  client/src/hooks/useHomeItemFetch.ts
  client/src/hooks/useHomeMenuOpenStates.spec.tsx
  client/src/hooks/useHomeMenuOpenStates.ts
  client/src/hooks/useMyLocations.ts
  client/src/pages/Detail.tsx
  client/src/pages/Home.tsx
  client/src/utils/util.ts
Labels: client, refactor

#278 [Refactor] hooks, context 분리 잘 안되어 있는 파일들 정리 및 index.tsx App.tsx 컴포넌트 분리
  client/src/App.tsx
  client/src/AppRoutes.tsx
  client/src/GlobalProvider.tsx
  client/src/components/Header/MainHeader.tsx
  client/src/components/ListItem.tsx
  client/src/context/AuthContext.tsx
  client/src/context/ChatContext.tsx
  client/src/context/ItemUploadContext.tsx
  client/src/context/LikeContext.tsx
  client/src/context/WorkerContext.tsx
  client/src/hooks/useAuthContext.ts
  client/src/hooks/useIsLoggedIn.ts
  client/src/hooks/useLikeNotify.ts
  client/src/index.tsx
  client/src/pages/ChatDetail.tsx
  client/src/pages/ChatList.tsx
  client/src/pages/Detail.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/Signup.tsx
  client/src/pages/User.tsx
  client/src/pages/Write.tsx
Labels: client, refactor

#282 [Refactor] hooks import index추가
  client/src/AppRoutes.tsx
  client/src/components/Base/ListItem.tsx
  client/src/components/Category/Category.tsx
  client/src/components/Header/MainHeader.tsx
  client/src/components/Menu/LikedList.tsx
  client/src/components/Menu/MenuSlide.tsx
  client/src/components/Menu/SalesList.tsx
  client/src/context/AuthContext.tsx
  client/src/context/ChatContext.tsx
  client/src/context/FocusContext.tsx
  client/src/context/ItemUploadContext.tsx
  client/src/context/LikeContext.tsx
  client/src/context/WorkerContext.tsx
  client/src/hooks/index.ts
  client/src/hooks/useScrollCache.ts
  client/src/hooks/useWorker.ts
  client/src/pages/ChatDetail.tsx
  client/src/pages/ChatList.tsx
  client/src/pages/Detail.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/Signup.tsx
  client/src/pages/User.tsx
  client/src/pages/Write.tsx
  client/src/pages/index.ts
Labels: client, refactor

#284 [Refactor] HomeView 컴포넌트 내 상태관련 함수들 props으로 받도록 변경
  client/src/components/Home/HomeView.styled.ts
  client/src/components/Home/HomeView.tsx
  client/src/hooks/useHomeItem.ts
  client/src/hooks/useHomeMenuOpenStates.spec.tsx
  client/src/hooks/useHomeMenuOpenStates.ts
  client/src/hooks/useLikedItemFetch.ts
  client/src/pages/Home.tsx
Labels: client, refactor

#286 [Refactor] 메인페이지 styled 분리
  client/src/components/Main/Main.styled.tsx
  client/src/components/Main/index.ts
  client/src/pages/Main.tsx
Labels: client, refactor

#289 [Feature] 홈페이지 스크롤 테스트 추가
  client/cypress.config.ts
  client/cypress/e2e/home-scroll.cy.ts
  client/cypress/fixtures/example.json
  client/cypress/fixtures/homeItem.json
  client/cypress/support/commands.ts
  client/cypress/support/e2e.ts
  client/package-lock.json
  client/package.json
  client/src/components/Base/LazyloadingImgBox.tsx
  client/src/components/Base/ListItem.tsx
  client/src/components/Base/ProductList.tsx
  client/src/hooks/useSaleItemFetch.ts
  client/tsconfig.json
Labels: feature, client

#292 [Feature] e2e테스트 CI 추가
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .gitignore
  client/cypress.config.ts
  client/package.json
  client/tsconfig.json
Labels: feature, client

#295 [Refactor] 아이템 작성 및 수정 페이지 리팩토링
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  client/__test__/Write.spec.tsx
  client/__test__/e2e/home-scroll.cy.ts
  client/__test__/useHomeMenuOpenStates.spec.tsx
  client/cypress.config.ts
  client/jest.config.ts
  client/jest.setup.ts
  client/package-lock.json
  client/package.json
  client/src/components/Base/ListItem.tsx
  client/src/components/Write/WriteView.styled.tsx
  client/src/components/Write/WriteView.tsx
  client/src/context/AuthContext.tsx
  client/src/hooks/Write/index.ts
  client/src/hooks/Write/useItemWriteDetail.ts
  client/src/hooks/Write/useItemWriteForm.ts
  client/src/pages/Write.tsx
  client/src/remotes/_http.ts
  client/src/remotes/item/fetch-item-detail.ts
  client/src/remotes/item/update-item-info.ts
  client/src/remotes/item/upload-image.ts
  client/src/remotes/item/upload-new-item.ts
  client/tsconfig.json
Labels: client, refactor

#297 [Feature] 아이템 등록 및 수정 테스트 추가
  .github/workflows/e2e.yml
  client/__test__/Write.spec.tsx
  client/__test__/e2e/item-update.cy.ts
  client/__test__/e2e/item-upload.cy.ts
  client/cypress/fixtures/categories.json
  client/cypress/fixtures/example.json
  client/cypress/fixtures/hood-zipup.jpeg
  client/cypress/fixtures/itemDetail.json
  client/cypress/fixtures/myInfo.json
  client/cypress/fixtures/myItem.json
  client/cypress/fixtures/myLocation.json
  client/cypress/support/commands.ts
  client/package-lock.json
  client/package.json
  client/src/components/Base/Fab.tsx
  client/src/components/Home/HomeView.tsx
  client/src/components/Write/WriteView.tsx
Labels: feature, client

#298 [Feature] 홈페이지 image lazy load 개선.
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  client/__test__/e2e/home-scroll.cy.ts
  client/src/components/Base/LazyloadingImgBox.tsx
  client/src/components/Base/ProductList.tsx
Labels: feature, client

#300 [Feature] public html max-age추가
  .github/workflows/e2e.yml
  .gitignore
  client/public/index.html
Labels: feature, client

#303 [Feature] og 관련 태그 추가
  .github/workflows/e2e.yml
  client/public/index.html
Labels: feature, client

#305 [Bug] og 동작안하는 버그 관련해서 태그 수정
  client/public/index.html
Labels: bug, client

#294 [Refactor] API 호출 interface 추가 작업
  client/src/components/Write/WriteView.tsx
  client/src/context/AuthContext.tsx
  client/src/hooks/Write/useItemWriteDetail.ts
  client/src/pages/Location.tsx
  client/src/pages/LocationSearch.tsx
  client/src/pages/Login.tsx
  client/src/pages/Signup.tsx
  client/src/remotes/_http.ts
  client/src/remotes/item/fetch-item-detail.ts
  client/src/remotes/item/update-item-info.ts
  client/src/remotes/item/upload-image.ts
  client/src/remotes/item/upload-new-item.ts
  client/src/types/location.ts
  client/src/types/user.ts
  client/src/util/debounce.ts
  client/src/utils/api.ts
Labels: client, refactor

#308 [Feature] 아이템 목록 페이지 및 상세 페이지 SSR 추가
  client/__test__/e2e/home-scroll.cy.ts
  client/__test__/e2e/item-upload.cy.ts
  client/common.d.ts
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/render-server/ServerGlobalProvider.tsx
  client/render-server/apiProxy.ts
  client/render-server/constant.ts
  client/render-server/html.tsx
  client/render-server/index.ts
  client/render-server/prefetch.ts
  client/src/AppRoutes.tsx
  client/src/components/Base/ProductList.tsx
  client/src/components/Base/index.ts
  client/src/components/Category/Category.tsx
  client/src/components/Icons/IconAdd.tsx
  client/src/components/Icons/IconCategory.tsx
  client/src/components/Icons/IconCheck.tsx
  client/src/components/Icons/IconClose.tsx
  client/src/components/Icons/IconDown.tsx
  client/src/components/Icons/IconGithub.tsx
  client/src/components/Icons/IconHeart.tsx
  client/src/components/Icons/IconImage.tsx
  client/src/components/Icons/IconLeft.tsx
  client/src/components/Icons/IconLogout.tsx
  client/src/components/Icons/IconMap.tsx
  client/src/components/Icons/IconMenu.tsx
  client/src/components/Icons/IconMessage.tsx
  client/src/components/Icons/IconMore.tsx
  client/src/components/Icons/IconRight.tsx
  client/src/components/Icons/IconSearch.tsx
  client/src/components/Icons/IconSend.tsx
  client/src/components/Icons/IconUser.tsx
  client/src/components/iconPath.ts
  client/src/components/iconPath.tsx
  client/src/context/AuthContext.tsx
  client/src/context/HomeItemContext.tsx
  client/src/context/WorkerContext.tsx
  client/src/hooks/useHomeItemFetch.ts
  client/src/hooks/useHomeMenuOpenStates.ts
  client/src/hooks/useItemDetail.ts
  client/src/pages/Detail.server.tsx
  client/src/pages/Detail.tsx
  client/src/pages/index.ts
  client/src/remotes/item/fetch-item-list.ts
  client/tsconfig.json
  client/tsconfig.server.json
Labels: feature, client

#310 [Bug] fetch 시 쿠키 제거
  client/render-server/prefetch.ts
Labels: bug, client

#312 [Feature] Server config 정리
  .github/workflows/deploy-client.yml
  .github/workflows/deploy-server.yml
  client/package-lock.json
  client/package.json
  client/render-server/apiProxy.ts
  client/render-server/constant.ts
  client/render-server/index.ts
  client/render-server/prefetch.ts
  client/src/components/Base/ListItem.tsx
  client/src/components/Menu/ChattingList.tsx
  client/src/context/AuthContext.tsx
  client/src/context/CategoryContext.tsx
  client/src/hooks/useLikedItemFetch.ts
  client/src/hooks/useMyLocations.ts
  client/src/hooks/useSaleItemFetch.ts
  client/src/pages/ChatDetail.tsx
  client/src/pages/ChatList.tsx
  client/src/pages/Detail.tsx
  client/src/utils/api.ts
  client/src/utils/instance.ts
  client/tsconfig.json
Labels: feature, client, server
